<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Battería</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id='nivel-bateria' class="container">
    <h1>{{ title }}</h1>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <i class='fa fa-3x' v-bind:class="bateriaCss" v-bind:style="bateriaStyle"> {{ porcentaje }}%</i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <button class="btn btn-lg btn-danger col-sm-12" @click='cambio_carga(-1)'>Descargar</button>
      </div>
      <div class="col-sm-6 text-left">
        <button class="btn btn-lg btn-success col-sm-12" @click='cambio_carga(1)'>Cargar</button>
      </div>
    </div>
    <legend v-if="niveles.length > 0">Charge log</legend>
    <div class="row">
      <div class="list-group col-sm-8 col-sm-offset-2">
        <ul style="color: #282C34;">
          <li class='list-group-item' v-for="nivel of niveles"> <!--  | filterBy '50' -->
            <span class="fa fa-close pull-right danger" v-on:click='remove(nivel)'></span>
            <div class="text-left" style="font-weight: 600">{{ nivel.text }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src='../js/vue.js'></script>
<script type="text/javascript" src='../js/models/battery.js'></script>
<script type="text/javascript" src='../js/view-models/vue-battery.js'></script>
</html>
